.font {
  &--16r {
    font-size: 1.6rem;
  }
  &--14r {
    font-size: 1.4rem;
  }
  &--13r {
    font-size: 1.3rem;
  }
  &--12r {
    font-size: 1.2rem;
  }
  &--09r {
    font-size: 0.9rem;
  }
  &--08r {
    font-size: 0.8rem;
  }

  &--black {
    color: #000000;
  }
  &--blue {
    color: #2d64f1;
  }
  &--grey {
    color: #777777;
  }
  &--green {
    color: #690;
  }
  &--orange {
    color: #F60;
  }
  &--red {
    color: #E9222E;
  }
  &--white {
    color: #ffffff;
  }
  &--important {
    color: #E9222E;
  }

  &--delete {
    text-decoration: line-through;
  }

  &--100w {
    font-weight: 100;
  }
  &--200w {
    font-weight: 200;
  }
  &--400w {
    font-weight: 400;
  }
}
