.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.wrapper-left {
  width: 240px;
  min-width: 240px;
}

.wrapper-body {
  flex-grow: 1;
}

.wrapper-right {
  width: 240px;
  min-width: 240px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: initial;
  }

  .wrapper-left {
    display: none;
  }

  .wrapper-right {
    display: none;
  }
}
