<div class="admin_search">
  <%= form_tag admin_search_users_path,
    { class: "simple_form admin_search_form" } do %>
    <%= search_field_tag "user_phone", nil,
      class: "form-control input",
      placeholder: "輸入會員手機"
    %>
    <%= select_tag "store_id",
      options_from_collection_for_select(Store.all, "id", "name"),
      prompt: "選擇註冊門市",
      class: "form-control select"
    %>
    <%= submit_tag "收尋", class: "btn btn-primary" %>
  <% end %>
</div>
