<div class="admin_search">
  <%= form_tag admin_products_path,
    { method: :get, class: "simple_form admin_search_form" } do %>
    <%= search_field_tag "product_name", nil,
      class: "form-control input",
      value: @name_keyword,
      placeholder: "輸入產品名稱"
    %>
    <%= submit_tag "收尋", class: "btn btn-primary" %>
  <% end %>
</div>
