<div id="advertisement" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#advertisement" data-slide-to="0" class="active"></li>
    <li data-target="#advertisement" data-slide-to="1"></li>
    <li data-target="#advertisement" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "advertisement/3840x2160.jpg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "advertisement/640x474.png" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "advertisement/600x400.jpg" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#advertisement" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#advertisement" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
