<section class="footer">
  <div class="wrapper">
    <%= link_to "網站使用條款", pages_web_terms_path %>
    <%= link_to "隱私權政策", pages_privacy_policy_path %>
    <%= link_to "免責聲明", pages_disclaimer_path %>
  </div>
</section>
