<section class="header">
  <div class="wrapper">
    <nav class="navbar">
      <%= link_to root_path do %>
        <%= image_tag "logo.jpg", class: 'logo' %>
      <% end %>
      <ul class="nav justify-content-end">
        <%= render "modules/nav_list" %>
      </ul>
    </nav>
  </div>
</section>
