<section class="header">
  <div class="wrapper">
    <nav class="navbar">
      <%= link_to root_path do %>
        <%= image_tag("logo.jpg", class: "logo") %>
      <% end %>
      <%= render "components/over_420_width_nav_items"%>
      <%= render "components/less_420_width_nav_items"%>
    </nav>
  </div>
</section>
