<nav class="nav flex-column side-bar">
  <%= form_tag search_products_path, method: :post, class: "form-inline" do %>
    <input class="font font--08r" name="search_key" placeholder="快速查詢">
    <button class="btn btn-secondary" type="submit">
      <%= image_tag "icons/magnifying-glass.svg" %>
    </button>
  <% end %>
  <a class="nav-link" href="#">路徑1</a>
  <a class="nav-link" href="#">路徑2</a>
  <a class="nav-link" href="#">路徑3</a>
  <a class="nav-link disabled" href="#">不能點的路徑</a>
</nav>
