<?xml version='1.0'?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="品牌">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">品牌名稱</Data></Cell>
        <Cell><Data ss:Type="String">圖片名稱</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">name</Data></Cell>
        <Cell><Data ss:Type="String">logo</Data></Cell>
      </Row>
      <% @brands.each do |brand| %>
        <Row>
          <Cell><Data ss:Type="String"><%= brand.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= brand.logo_file_name %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
