<div id="pop_products" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <% @pop_products.each_with_index do |three_products, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <div class="cards">
          <% three_products.each do |product| %>
            <div class="card">
              <%= image_tag "advertisement/640x474.png" %>
              <div class="card-body">
                <h5 class="card-title">商品名稱</h5>
                <div class="card-text">折扣價 30000</div>
                <hr>
                <div class="card-text">標題語</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#pop_products" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#pop_products" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
