<div class="terms terms-disclaimer">
  <h2>就是便宜免責聲明</h2>
  <br>
  <p class="description">
    <span class="font font--09r">
      您明確瞭解並同意：
    </span>
  </p>
  <ul>
    <li>
      <span class="font font--09r">
        您使用本站服務之風險由您個人負擔。本站服務係依「現狀」及「現有」基礎提供。本公司對本站服務不提供任何明示或默示的擔保或保證，包含但不限於商業適售性、特定目的之適用性、一定品質及未侵害他人權利等擔保或保證。
      </span>
    </li>
    <li>
      <span class="font font--09r">
        本公司不保證以下事項：
      </span>
      <ul class="decimal">
        <li>
          <span class="font font--09r">
            本站將符合您的要求。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            本站將不受干擾、及時提供、安全可靠或不會出錯。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            使用本站取得之結果正確可靠。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            您經由本站購買或取得之任何產品、服務、資訊或其他資訊將符合您的期望。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            軟體中任何錯誤都將得到更正。
          </span>
        </li>
      </ul>
    </li>
    <li>
      <span class="font font--09r">
        是否使用本站下載或取得任何資料應由您自行考慮且自負風險，因任何資料之下載而導致的您電腦系統之任何損壞或資料流程失等後果，由您自行承擔，而與本站無涉。
      </span>
    </li>
    <li>
      <span class="font font--09r">
        您自本站取得的任何建議或資訊，無論是書面或口頭形式，除非本站服務條款有明確規定，將不構成本服務條款以外之任何保證。
      </span>
    </li>
  </ul>
</div>
