<div class="home">
  <section>
    <%= render "modules/carousel_ads" %>
  </section>

  <br>

  <section>
    <%= render partial: "modules/carousel_products",
      locals: {
        carousel_id: "new_products",
        product_groups: @new_product_groups
      } %>
  </section>

  <br>

  <section>
    <%= render partial: "modules/carousel_products",
      locals: {
        carousel_id: "pop_products",
        product_groups: @pop_product_groups
      } %>
  </section>

  <br>
</div>
