<br>

<section>
  <%= render "modules/advertisement" %>
</section>

<br>

<section>
  <%= render "modules/new_products" %>
</section>

<br>

<section>
  <%= render "modules/pop_products" %>
</section>

<br>
