<div class="pages">
  <section>
    <%= render "modules/carousel_ads" %>
  </section>

  <br>

  <section>
    <div>
      <div class="square  square--red"></div>
      <span class="font font--grey">最新產品</span>
    </div>
    <%= render partial: "modules/carousel_products",
      locals: {
        carousel_id: "new_products",
        product_groups: @new_product_groups
      } %>
  </section>

  <br>

  <section>
    <div>
      <div class="square  square--red"></div>
      <span class="font font--grey">熱門產品</span>
    </div>
    <%= render partial: "modules/carousel_products",
      locals: {
        carousel_id: "pop_products",
        product_groups: @pop_product_groups
      } %>
  </section>

  <br>
</div>
