<div class="terms terms-web_terms">
  <h2>就是便宜網站使用條款</h2>
  <br>
  <p class="description">
    <span class="font font--09r">
      您在「就是便宜」因使用各項服務所登錄之個人資料，我們除嚴格遵守中華民國相關隱私權保護之法律外，更將以非常嚴謹的態度與具體作為管理及保護您的個人資料，對於任何違法盜用或揭露您個人資料的不法及不當行為，我們將採取必要的法律途徑，以確保您個人隱私的安全。以下為我們對您隱私權保護的承諾，請您悉心閱讀。
    </span>
  </p>

  <ul class="trad-chinese-informal">
    <li>
      同意條款
      <ul class="decimal">
        <li>
          <span class="font font--09r">
            當您使用本網站時，即表示您已閱讀、瞭解並同意接受本服務條款之所有內容，如您有違反本服務條款之行為時，本公司得隨時依據相關規則暫停或終止您使用本站服務。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            本公司有權於任何時間修改或變更本站服務條款之內容亦或暫停、終止，且毋須另行通知。本服務條款一旦更動，本公司將於本站網頁上公佈修改內容，建議您隨時注意該等修改或變更。而本公司修改後之服務條款一旦於本站網頁上公佈，即有效取代先前服務條款或協議。若您於本站服務條款進行任何修改或變更後繼續使用本服務，即視為您已閱讀、瞭解並同意接受該等修改或變更。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，方得使用或繼續使用本站服務。當您使用或繼續使用本站服務時，即推定您的家長（或監護人）已閱讀、瞭解並同意接受本服務條款之所有內容及其後修改變更。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            如您不同意本服務條款之內容及或不同意本公司得隨時修改之，又或者您所屬的國家或地域排除本服務條款內容之全部或任何一部份時，請您立即停止使用本公司及其網站之服務。
          </span>
        </li>
      </ul>
    </li>

    <li>
      使用者之義務
      <div class="trad-chinese-informal-description">
        <span class="font font--09r">
          您於使用本服務時，須承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。您並保證不得利用本站從事任何侵害他人權益或違法之行為，且應遵守下列規定， 包括但不限於：
        </span>
      </div>
      <ul class="decimal">
        <li>
          <span class="font font--09r">
            不得冒用他人名義使用本站服務。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            不得使用程式或其他方法自動大量申請或蒐集本站檔案作為廣告或寄送廣告資料之用。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            不得使用程式或其他方法干擾本服務系統之正常運作或傳輸、散佈電腦病毒。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            其他任何本公司有正當理由認為不適當之行為。
          </span>
        </li>
      </ul>
    </li>

    <li>
      您的註冊義務
      <div class="trad-chinese-informal-description">
        <span class="font font--09r">
          為了能使用本站服務，您同意以下事項：
        </span>
      </div>
      <ul class="decimal">
        <li>
          <span class="font font--09r">
            提供您本人真實、正確、最新及完整的資料（以下簡稱「註冊資料」）。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            隨時更新註冊資料，確保其為真實、正確、最新及完整的資料。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            若您提供任何錯誤、不實、過時或不完整或具誤導性的資料；本服務有理由懷疑前述資料為錯誤、不實、過時或不完整或具誤導性的，本站有權暫停或終止您的帳號，並拒絕您於現在和未來使用本服務之全部或任何一部分。
          </span>
        </li>
      </ul>
    </li>

    <li>
      本站之聲明
      <ul class="decimal">
        <li>
          <span class="font font--09r">
            對於任何包含、經由或連接、下載或從任何與有關本站所獲得之任何內容、資訊或廣告，本站不聲明或擔保其正確性或可靠性；並且對於您經本站之內容、廣告、展示而購買、取得的任何產品、資訊或資料，本站不負保證責任，您應自行判斷該廣告之正確性及可信度。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            您了解使用本站時，可能會接觸到個人觀感上令人不快、不適當、令人厭惡之站上內容。在任何情況下，本站均不為任何站上內容負責，包含但不限於任何內容之任何錯誤或遺漏，以及經由本站以張貼、發送電子郵件或其他方式傳送任何內容而衍生之任何損失或損害。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            您了解本站並未針對本站服務內容加以任何事先審查，對會員的使用行為於技術上也無法進行全面控制，您使用任何站上內容時，包括依賴站上內容之正確性、完整性或實用性時，您同意將自行加以判斷並承擔所有風險。但本站及其指定人有權（但無義務）依其自行之判斷，拒絕和移除經由本站提供之違反本服務條款 或其他引起反感之任何內容。您瞭解並同意，本站基於以下目的之合理必要範圍內，認定必須將您的帳號資訊或站上內容加以保存或揭露予政府機關、司法警察或未成年人之監護人時，得逕自加以保存及揭露：
          </span>
          <ul>
            <li>
              <span class="font font--09r">
            　  3.1 遵守法令或政府機關之要求。
              </span>
            </li>
            <li>
              <span class="font font--09r">
            　  3.2 為提供本服務所必須者。
              </span>
            </li>
            <li>
              <span class="font font--09r">
            　  3.3 為防止他人權益之重大危害而有必要者。
              </span>
            </li>
            <li>
              <span class="font font--09r">
            　  3.4 為免除使用者及公眾之生命、身體、自由、權利、財產上之急迫危險者。
              </span>
            </li>
            <li>
              <span class="font font--09r">
            　  3.5 其他本站認為有必要的情況。
              </span>
            </li>
          </ul>
        </li>
        <li>
          <span class="font font--09r">
            您同意如因本站服務出現暫停、終止、中斷或故障等現象，而造成使用者或第三人使用上的不便、資料喪失、錯誤、或其他損害時，本站及其管理者毋須負任何法律或賠償責任。
          </span>
        </li>
        <li>
          <span class="font font--09r">
            您了解本站對於您使用本服務或經由本站連結之其他網站而下載之軟體或資料，本站不負任何擔保責任。您應於下載前自行斟酌、判斷該等軟體或資料之合法性、正確性，以免遭受損害；本站對於該等損害不負任何賠償責任。
          </span>
        </li>
      </ul>
    </li>

    <li>
      智慧財產權之保護
      <div class="trad-chinese-informal-description">
        <span class="font font--09r">
          本站所使用軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫 面的安排、網頁設計，均由本站或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、 解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本站或其他權利人的事前書面同意。
        </span>
      </div>
    </li>

    <li>
      商標資訊
      <div class="trad-chinese-informal-description">
        <span class="font font--09r">
          本站商標以及本站服務標誌及產品、服務名稱（以下簡稱「商標資訊」），均屬本公司所有，未經本公司事先書面同意，您同意不將本公司之商標資訊以任何方式展示或使用或作其他處理，或表示您有權展示、使用或另行處理本公司之商標資訊。
        </span>
      </div>
    </li>
  </ul>
</div>
