<br>

<section>
  <%= render "pages/advertisement" %>
</section>

<br>

<section>
  <%= render "pages/new_products" %>
</section>

<br>

<section>
  <%= render "pages/pop_products" %>
</section>

<br>
