.product {
  .btn-add-product {
    margin: 10px;
  }

  .action-icons {
    margin: 0 5px;

    &:hover {
      text-decoration: none;
    }
  }

  .action-btns {
    float: right;

    button {
      margin: 0 5px;
      width: 100px;
      font-size: 14px;
      color: #ffffff;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .font--important {
    color: red;
  }
}
