default: &DEFAULT
  host_name: nothing # for run rspec no error
  bucket: nothing
  access_key_id: nothing
  secret_access_key: nothing
  region: nothing

development: &DEV
  <<: *DEFAULT

test:
  <<: *DEFAULT

staging:
  <<: *DEFAULT
  bucket: ""

production:
  <<: *DEFAULT
  bucket: ""
