#carousel_ads {
  margin: 0 auto;
  width: 684px;
  height: 404px;
  border: #dedede 2px solid;

  .carousel-inner {
    .carousel-item {
      img {
        width: 676px;
        height: 400px;
      }
    }
  }
}
