.btn {
  display: inline-block;
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }

  &--red {
    background-color: #E9222E;
    &:hover {
      background-color: #c5212b;
    }
  }

  &--blue {
    background-color: #0000CC;
  }

  &--group {
    margin: 2px 1px;
  }
}

a.btn-link, a.btn-link:hover {
  text-decoration: none;
}
