section.header {
  min-width: 1200px;

  .justify-content-end {
    flex-grow: 1;
    height: 100%;
  }

  .navbar {
    width: 100%;
    padding: 0px;

    .navbar-collapse {
      padding-bottom: 10px;
    }

    .nav-item {
      border-bottom: 1px solid;
      padding-top: 15px;

      .nav-link {
        text-align: center;
        font-size: 16px;
        color: #000000;
      }

      // @media (max-width: 576px) {
      //   .nav-link {
      //     text-align: left;

      //     img {
      //       display: none;
      //     }
      //   }
      // }
    }

    .navbar-toggler {
      border: 1px solid;
    }
  }
}
