section.header {
  background-color: #E9222E;

  .justify-content-end {
    flex-grow: 1;
  }

  .navbar {
    width: 100%;
    padding: 0px;

    .navbar-collapse {
      padding-bottom: 10px;
    }

    .nav-item {
      .nav-link {
        text-align: center;
        font-size: 16px;
        color: #ffffff;
      }

      @media (max-width: 576px) {
        .nav-link {
          text-align: left;

          img {
            display: none;
          }
        }
      }
    }

    .navbar-toggler {
      border: 1px solid;
    }
  }
}
