.list {
  width: 100%;
}

.list-topics {
  width: 100%;
  display: flex;
  .topic {
    border-bottom: 2px solid #dee2e6;
    padding: 5px;

    &--pt20 {
      padding-top: 20px;
    }
  }
}

.list-items {
  width: 100%;

  .item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #dee2e6;
    &:nth-child(2n) {
      background-color: #e9edf1;
    }

    &--clickable{
      &:hover {
        cursor: pointer;
      }
    }

    .data {
      padding: 5px;
    }
  }
}

.list-link {
  display: block;
  &:hover {
    text-decoration: none;
  }
}
