nav.side-bar {
  min-height: 460px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 20px 0px 0px;
  padding: 8px 0px;

  a {
    color: #000000;

    &:hover {
      background-color: #0150CE;
    }
  }

  .btn {
    color: #000000;
  }

  .form-inline {
    width: 100%;
    padding: 3px 10px 10px;

    input {
      width: 70%;
      padding: 6px;
      border: 1px solid #ced4da;
      border-radius: 5px 0px 0px 5px;
    }

    button {
      padding: 1px 0px 6px;
      flex-grow: 1;
      border-radius: 0px 5px 5px 0px;
    }
  }

  .accordion {
    .card {
      background-color: transparent;
      .card-header {
        padding: 0px;
        button {
          width: 100%;
          text-decoration: none;
          text-align: left;
          color: #E9222E;
        }
      }

      .collapse_0, .collapse_1, .collapse_2 {
        display: block;
        height: 109px;
        overflow: hidden;
      }

      .card-body {
        padding: 0px;
        color: #ffffff;

        a {
          padding: 5px 10px;
          display: inline-block;
          width: 100%;
          border-top: 1px solid #a9a9a9;
          border-bottom: 1px solid #a9a9a9;

          &:hover {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
