nav.side-bar {
  .accordion {
    .card {
      background-color: transparent;
      .card-header {
        padding: 0px;
        button {
          width: 100%;
          text-decoration: none;
          text-align: left;
        }
      }
      .card-body {
        padding: 10px 20px;
        color: #ffffff;

        a {
          display: inline-block;
          width: 100%;
          margin: 3px 0px;
        }
      }
    }
  }
}
