.admin_quick_add_images {
  position: relative;
  display: inline-block;
  width: 400px;

  form {
    margin-bottom: 20px;
  }

  .file_input {
    display: inline-block;
    width: 200px;
  }

  .hint {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
