.btn-add {
  margin: 10px;
}

.action-icons {
  margin: 0 5px;

  &:hover {
    text-decoration: none;
  }
}

.action-btns {
  float: right;

  button {
    margin: 0 5px;
    width: 100px;
    font-size: 14px;
    color: #ffffff;
  }

  &:hover {
    text-decoration: none;
  }
}

// For carousel
.sr-only {
  position: static;
  z-index: -1;
  box-shadow: -10px 3px 12px 5px #000
}
