section.footer {
  min-width: 1200px;
  background-color: #E9222E;
  padding-bottom: 20px;

  a {
    color: #ffffff;
    margin: 0px 5px;

    &:hover {
      text-decoration: none;
    }
  }

  .visitor_count {
    margin-left: 75px;
  }
}

@media screen and (max-width: 767px) {
  section.footer {
    min-width: initial;
  }
}
