section.header {
  min-width: 1200px;
  background-color: #EE1C29;

  .justify-content-end {
    flex-grow: 1;
    height: 100%;
  }

  .navbar {
    width: 100%;
    padding: 0px;

    .logo {
      height: 57px;
    }

    .navbar-collapse {
      padding-bottom: 10px;
    }

    .nav-item {
      .nav-link {
        text-align: center;
        font-size: 16px;
        color: #000000;
      }
    }

    .navbar-toggler {
      border: 1px solid;
    }
  }
}

@media screen and (max-width: 767px) {
  section.header {
    min-width: initial;
  }
}
