.header__search_products_input-container--mobile {
  display: none;
}

section.header {
  min-width: 1200px;
  background-color: #EE1C29;

  .nav {
    align-items: center;
  }

  .justify-content-end {
    flex-grow: 1;
    height: 100%;
  }

  .nav-less420width-items {
    display: none;
    &__mask {
      transition: all 0.3s;
      position: fixed;
      top: 0px;
      left: 100%;
      bottom: 0px;
      right: 0px;
      background: rgba(0, 0, 0, 0.8);
      z-index: 998;
      text-align: right;
    }
    &__panel {
      position: relative;
      display: inline-block;
      right: 0;
      min-width: 225px;
      background-color: #636363;
      z-index: 999;
      text-align: left;
      .nav-link {
        border-top: 1px solid #ffffff;
        padding: 10px 15px;
        zoom: 1.1;
      }
    }
  }

  .menu-icon {
    margin-right: 15px;
  }

  .navbar {
    width: 100%;
    padding: 0px;
    flex-wrap: initial;
    height: 80px;

    .logo {
      height: 57px;
    }

    .navbar-collapse {
      padding-bottom: 10px;
    }

    .nav-item {
      .nav-link {
        text-align: center;
        font-size: 16px;
        color: #000000;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section.header {
    min-width: initial;
  }
}

// for nav_list
@media screen and (max-width: 420px) {
  .header__search_products_input-container--mobile {
    display: initial;
  }

  section.header {
    .nav-over420width-items {
      display: none;
    }
    .nav-less420width-items {
      display: initial;
    }
  }
}
