.side-bar {
  min-height: 460px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 20px 0px 0px;
  padding: 8px 0px;

  a {
    color: #000000;

    &:hover {
      background-color: #0150CE;
    }
  }

  .btn {
    color: #000000;
  }

  &__search_products_input {
    padding: 3px 10px 10px;
  }

  &__collapse {
    .card {
      background-color: transparent;
      .card-header {
        padding: 0px;
        button {
          width: 100%;
          text-decoration: none;
          text-align: left;
          color: #E9222E;
        }
      }

      .card-body {
        padding: 0px;
        color: #ffffff;

        a {
          padding: 5px 10px;
          display: inline-block;
          width: 100%;
          border-top: 1px solid #a9a9a9;
          border-bottom: 1px solid #a9a9a9;

          &:hover {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
