.square {
  width: 10px;
  height: 18px;
  position: relative;
  top: 3px;
  margin-right: 5px;
  display: inline-block;

  &--large {
    height: 28px;
    top: 6px;
  }

  &--grey {
    background-color: #dddddd;
  }
  &--red {
    background-color: #E9222E;
  }
}
