@import "reset";
@import "bootstrap";

@import "utilities/*";
@import "components/*";
@import "modules/*";

@import "products";
@import "recoveries";
@import "stores";
@import "variants";

.side-bar {
  background-color: aquamarine;
  margin: 3px;
  border-radius: 5px;
}
