.categories-borad {
  padding: 0 15px;
  .borad-section {
    margin-bottom: 20px;
    border-bottom: 3px solid #ee1c29;
  }
  .category-item {
    display: flex;
    clear: both;
    margin-top: 30px;
    margin-bottom: 50px;
    border-bottom: 2px solid #f2f2f2;

    &-brand {
      width: 33%;
      margin-right: 5px;
      text-align: center;
      img {
        height: 30px;
        margin: 0px 0 20px 0;
      }
      &-name {
        clear: both;
        padding-bottom: 30px;
        color: #cecece;
      }
    }
  }
  .category-box-container {
    width: 100%;
    padding: 2px 0px;
    margin-bottom: 50px;
  }
  .category-box {
    margin-top: 3px;
    height: 45px;
    width: 49.2%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    text-decoration: none;
    border-radius: 5px;
    .category-btn {
      text-align: center;
      width: 100%;
      cursor: pointer;
      color: #000000;
      position: relative;
      span {
        font-weight: bold;
      }
    }

    &:hover {
      color: #FFFFFF;
      background-color: #ee1c29;
      .category-btn {
        span {
          color: #ffffff;
          letter-spacing: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .categories-borad .category-box {
    width: 100%;
  }
}
