.products {
  padding: 20px;

  ._product-name {
    position: relative;
    top: 8px;
  }

  .details {
    .image {
      img {
        width: 300px;
      }
      display: inline-block;
    }
    .specs {
      padding: 0px 10px;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.product_image_editor {
  position: relative;
  display: inline-block;

  .action-icons {
    position: absolute;
    top: 1px;
    right: -4px;
  }
}
