.products {
  padding: 20px;

  ._product-tag {
    display: inline-block;
    position:relative;
    bottom: 2px;

    &--show-page {
      display: inline-block;
      position:relative;
      bottom: 5px;
    }
  }

  ._product-variant_select_hint {
    display: none;
    position: relative;
    bottom: 20px;
  }

  #product_images {
    margin-bottom: 40px;

    ol {
      bottom: -40px;
      margin: 0;

      li {
        width: 42px;
        height: 42px;
        text-indent: 0;

        &.active {
          border: 1px solid #cccccc;
        }

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .details {
    display: flex;

    .image {
      width: 300px;

      img {
        width: 300px;
      }
    }
    .specs {
      padding: 0px 10px;
      vertical-align: top;
    }
  }
}

.badge-shelved {
  cursor: pointer;
}

.product_image_editor {
  position: relative;
  display: inline-block;

  .action-icons {
    position: absolute;
    top: 1px;
    right: -4px;
  }
}
