.recoveries {
  padding: 20px;

  .recoveriesStandard {
    img {
      width: 680px;
    }
  }
}

@media screen and (max-width: 767px) {
  .recoveries {
    .recoveriesStandard {
      img {
        width: 100%;
      }
    }

    .list {
      .list-topics {
        img {
          position: relative;
          top: 12px;
          width: 100%;
        }
      }
    }
  }
}
