.stores {
  padding: 20px;

  .info_box {
    border: 1px solid #e0e3e4;
    margin: 10px 0px;
    padding: 10px;
    display: flex;

    &-image {
      margin-right: 10px;
    }

    .infos {
      width: 420px;
      p {
        margin: 0px;
      }
    }
  }

  .store_line_icon {
    position: relative;
    bottom: 2px;
    left: 5px;
  }
}
