.stores {
  padding: 20px;

  .info_box {
    border: 1px solid #e0e3e4;
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    img {
      width: 240px;
      height: 210px;
    }
    .infos {
      flex-grow: 1;
      p {
        margin: 0px;
      }
    }
  }
}
