.stores {
  max-width: 800px;
  padding: 20px;

  .title-tip {
    margin: 0px 0px 5px 0px;

    .square {
      width: 10px;
      height: 18px;
      position: relative;
      top: 3px;
      margin-right: 5px;
      background-color: #E9222E;
      display: inline-block;

      &--large {
        height: 28px;
        top: 6px;
      }

      &--grey {
        background-color: #dddddd;
      }
    }

    h4 {
      display: inline-block;
    }
  }

  .btn {
    color: #ffffff;
    display: inline-block;
    background-color: #E9222E;
    border-radius: 0px;

    &-brand {
      width: 120px;
    }

    &-product {
      width: 80px;
    }
  }

  .info_box {
    border: 1px solid #e0e3e4;
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    img {
      width: 240px;
      height: 210px;
    }
    .infos {
      flex-grow: 1;
      p {
        margin: 0px;
      }
    }
  }
}
