<div class="admin_nav">
  <ul class="nav navbar-dark bg-primary justify-content-end">
    <li class="nav-item">
      <%= link_to "電信管理", admin_telecommunications_path, class: "nav-link" %>
    <li>
    <li class="nav-item">
      <%= link_to "方案管理", admin_variants_path, class: "nav-link" %>
    <li>
    <li class="nav-item">
      <%= link_to "品牌管理", admin_brands_path, class: "nav-link" %>
    <li>
    <li class="nav-item">
      <%= link_to "商品管理", admin_products_path, class: "nav-link" %>
    </li>
  </ul>
</div>
