<div class="header">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "門市據點", "#", class: "nav-link active" %>
    </li>
    <li>
      <span class="oi oi-home"></span>
    </li>
    <li class="nav-item">
      <%= link_to "常見問題", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "聯絡我們", "#", class: "nav-link" %>
    </li>
  </ul>
</div>
