<li class="nav-item">
  <%= link_to products_path, class: "nav-link" do %>
    <%= image_tag "icons/phone.svg" %>
    <div>價格總覽</div>
  <% end %>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <%= image_tag "icons/home.svg" %>
    <div>聯絡我們</div>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">
    <%= image_tag "icons/home.svg" %>
    <div>聯絡我們</div>
  </a>
</li>
<form class="form-inline">
  <input type="search" placeholder="輸入機型..." aria-label="Search">
  <button class="btn btn-secondary" type="submit">收尋</button>
</form>
